################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetLearning/CSharp/bin/Debug/net6.0
/DotNetLearning/CSharp/obj
/DotNetLearning/.vs/DotNetLearning/FileContentIndex
/.vs
/DotNetLearning/.vs
/DotNetLearning/CSharpDotNetFramework/obj/Debug
/DotNetLearning/Linq/bin/Debug
/DotNetLearning/Linq/obj/Debug
/DotNetLearning/packages
